DB_USER=admin
DB_PASSWORD=cambiame123
DB_NAME=teamboard_db
DB_HOST=db
DB_PORT=5432

# Formato: postgresql://USUARIO:PASSWORD@HOST:PORT/NAME
DATABASE_URL=postgresql://admin:cambiame123@db:5432/teamboard_db

PORT_FRONTEND=8080
PORT_BACKEND=5000
PORT_PORTAINER=9000