### --- ENTORNO ---
.env
*.env
.env.local

### --- DOCKER ---
postgres_data/
mysql_data/
.docker/

### --- PYTHON (BACKEND) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/

### --- NODE / VUE / REACT (FRONTEND) ---
node_modules/
npm-debug.log*
yarn-error.log*
.eslintcache
dist/

### --- SISTEMA ---
.DS_Store
Thumbs.db